FIREBASE_CREDENTIALS_PATH=path/to/serviceAccountKey.json
FIREBASE_PROJECT_ID=ai-studio-637ab
FIREBASE_STORAGE_BUCKET=ai-studio-637ab.firebasestorage.app

HF_TOKEN=hf_...
HF_ROUTER_URL=https://router.huggingface.co/v1

GCP_PROJECT_ID=ai-studio-637ab
GCP_LOCATION=us-central1
GCP_TASKS_QUEUE=image-gen-queue

ENVIRONMENT=development
PORT=8000
